<div class="dashboard">

  <div class="mes-messsages">
    <button class="boutton-mes-messages">Mes messsages</button>
  </div>

  <div class="mes-personnages">
    <button class="boutton-mes-personnages">Mes personnages</button>
  </div>

  <div class="mes-parties">
    <button class="boutton-mes-parties">Mes parties</button>
  </div>
</div>
