<div class="dashboard">

  <div class="mes-messages">
    <button class="boutton-mes-messages"><%= link_to 'Mes messages', parties_path %></button>
  </div>

  <div class="mes-personnages">
    <button class="boutton-mes-personnages"><%= link_to 'Mes personnages', characters_path %></button>
  </div>

  <div class="mes-parties">
    <button class="boutton-mes-parties"><%= link_to 'Mes parties', parties_path %></button>
  </div>
</div>
