// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Spectral:wght@400;700&family=Cardo:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: 'Cardo', serif;
$headers-font: 'Cinzel', serif;
$text-font: 'Spectral', serif;
