<nav class="navbar-site d-flex justify-content-between">
    <div class="list-link-navbar">
        <ul class="ul-navbar">
            <li class="list-navbar"><a class="link-navbar" href="#home">Accueil</a></li>
            <li class="list-navbar"><a class="link-navbar" href="#news">Tutoriels</a></li>
            <li class="list-navbar"><a class="link-navbar" href="#contact">Lexique</a></li>
            <li class="list-navbar"><a class="link-navbar" href="#contact">Univers</a></li>
            <li class="list-navbar"><a class="link-navbar" href="characters">Créer personnage</a></li>
            <li class="list-navbar"><a class="link-navbar" href="#contact">Tableau de bord</a></li>
        </ul>
    </div>
    <div class="div-avatar-pseudo">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
        </div>
    </div>
</nav>
