<!DOCTYPE html>
<html>
  <head>
      <title>titre haut de page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="banderolle-img-background">
      <h1 class="title-page">TITLE</h1>
    </div>
    <div class="font vh-100">
      <div class="row h-100">
        <div class="content-site col-md-10 offset-md-1">
          
        </div>
      </div>
    </div>
  </body>
</html>
