<div class="banderolle-img-background">
  <h1 class="title-page">TITLE</h1>
</div>
<div class="font vh-100">
  <div class="row h-100">
    <div class="content-site col-md-10 offset-md-1">
      <h1>HELLO WORLD</h1>
    </div>
  </div>
</div>
