<div class="character_card_container">
  <div class="character_card_container_content_and_photo">
    <div class="character_card_container_content">
      <div class="character_card_container_content_name">
        <h1><%= character.name %></h1>
      </div>
      <div class="character_card_container_content_race_class">
        <h2><%= character.race.name %></h2>
        <h2><%= character.universe.name %></h2>
      </div>
    </div>

    <div class="character_card_container_photo">
       <img src="" alt="image perso">
    </div>
  </div>

  <div class="show-character-btn">
    <button>Afficher personnage</button>
  </div>

</div>
