<h1>Bienvenue sur la création de ton personnage</h1>
<p>Nous allons t'accompagner à travers la création de ton personnage</p>
<p>Pour commencer, il te faut choisir l'univers de jeux dans lequel tu veux vivre ton aventure</p>
<p>#mettre un bouton "Plonger dans les differents univers"</p>
