<div class="titre">
  <h1>Les Univers</h1>
  <p>Choisi ici l'univers qui te plait</p>
</div>

<div class="cards_univers">

  <div class="cards_univer">
    <div>
      <h2>Donjons et Dragons D&D</h2>
      <h3>petite description accrocheur</h3>
      <p>taux de completion</p>
      <p>#mettre un boutton vers les tutos de l'univers</p>
    </div>
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
    <div>
      <h2>Runequest</h2>
      <h3>petite description accrocheur</h3>
      <p>taux de completion</p>
      <p>#mettre un boutton vers les tutos de l'univers</p>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <h2>L'appel de Chtullu</h2>
      <h3>petite description accrocheur</h3>
      <p>taux de completion</p>
      <p>#mettre un boutton vers les tutos de l'univers</p>
    </div>
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
  </div>
</div>
