<h1> Etape 2 du Tuto </h1>

<p>Ce character a été créé dans l'univers : <%= @character.universe.name %></p>
<p>Ce character appartient à : <%= @character.user.pseudo %></p>
<p>ID de ton character : <%= @character.id %></p>
<p>Date de création : <%= @character.created_at.strftime("%d/%m/%Y %H:%M") %></p>

<h2>presentation des races</h2>
