/* app/assets/stylesheets/components/_character_cards.scss */
.character-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .character-card {
    background-color: #f8f9fa;
    border: 2px solid #6b6b6b;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 8px;
    width: 250px;
    font-family: $headers-font;
    color: #333;
  
    &-header {
      text-align: center;
      margin-bottom: 15px;
      h3 {
        font-size: 24px;
        margin: 0;
        color: #6b6b6b;
      }
    }
  
    &-body {
      p {
        font-size: 18px;
        margin: 5px 0;
        strong {
          font-weight: bold;
        }
      }
    }
  }
  