.character-edit {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  
    h1 {
      font-size: 36px;
      color: #ffffff;
      margin-bottom: 20px;
    }
  
    .progress-bar {
      background: #ffffff;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;
      .progress {
        height: 20px;
        background: #EBD18B;
        transition: width 0.4s ease;
      }
    }

    .progression-text {
      color: #EBD18B; /* changer la couleur du progession %tage */
    }    
  
    p {
      font-size: 16px;
      color: black;
      margin-bottom: 20px;
    }
  
    .options-wrapper {
      display: flex;
      flex-direction: column;
    }
  
    .option-item {
      position: relative;
      margin-bottom: 20px;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      background-color: white;
      padding: 10px;
      cursor: pointer;
      transition: border-color 0.3s, background-color 0.3s;
      display: flex;
      align-items: center;
    }
  
    .option-item:hover {
      border-color: #76c7c0;
    }
  
    .option-item input[type="radio"] {
      position: absolute;
      transform: scale(0);
    }
  
    .option-item img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 4px;
    }
  
    .option-item label {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    .option-item .description {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .option-item input[type="radio"]:checked + label {
      border: 2px solid #76c7c0;
      background-color: #f0f8f8;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
  
      .btn-secondary {
        @extend .button;
      }
  
      .button {
        @extend .button;
      }
    }
  
    .sliders-container {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;
  
      .slider-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
  
        label {
          font-size: 14px;
          margin-bottom: 10px;
        }
  
        input[type="range"] {
          writing-mode: bt-lr; /* IE */
          -webkit-appearance: slider-vertical; /* WebKit */
          width: 8px;
          height: 200px;
          padding: 0;
          margin: 0;
          border-radius: 5px;
          background: #76c7c0;
          cursor: pointer;
        }
  
        input[type="range"]::-webkit-slider-runnable-track {
          background: #ddd;
          border: none;
          border-radius: 5px;
          width: 8px;
          height: 100%;
        }
  
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: #76c7c0;
          border-radius: 50%;
          cursor: pointer;
          margin-top: -6px; /* Adjust thumb position */
        }
  
        input[type="range"]:focus {
          outline: none;
        }
  
        input[type="range"]:focus::-webkit-slider-runnable-track {
          background: #ccc;
        }
      }
    }
  }
  