<div class="titre">
  <h1>Les Univers</h1>
  <p>Choisi ici l'univers qui te plait</p>
</div>
<h1>#redimensionner les images pour qu'elles fit dans la div</h1>
<div class="cards_univers">

  <div class="cards_univer">
    <div>
      <h2>Donjons et Dragons D&D</h2>
      <p>Donjons et Dragons, souvent abrégé en D&D, est le tout premier jeu de rôle sur table de genre médiéval-fantastique.</p>
      <button class="button-d-and-d">Découvrir</button>
    </div>
    <div>
      <%= image_tag "dnd.jpg", alt: "image dnd" %>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <%= image_tag "runequest.jpg", alt: "image runequest" %>
    </div>
    <div>
      <h2>Runequest</h2>
      <p>Dans RuneQuest laisser les dieux exprimer leurs pouvoirs a travers vous</p>
      <button class="button-runequest">Découvrir</button>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <h2>L'appel de Chtullu</h2>
      <p>L'Appel de Cthulhu est un jeu de rôle de la nouvelle du même nom écrite par l'écrivain fantastique américain H. P. Lovecraft. </p>
      <button class="button-coc">Découvrir</button>
    </div>
    <div>
      <%= image_tag "chtullu.jpg", alt: "image chtullu" %>
    </div>
  </div>
</div>
