<div class="titre">
  <h1>Les Univers</h1>
  <p>Choisi ici l'univers qui te plait</p>
</div>

<div class="cards_univers">

  <div class="cards_univer">
    <div>
      <h2>Donjons et Dragons D&D</h2>
      <p>Donjons et Dragons, souvent abrégé en D&D, est le tout premier jeu de rôle sur table de genre médiéval-fantastique.</p>
      <button>Découvir</button>
    </div>
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
    <div>
      <h2>Runequest</h2>
      <p>Dans RuneQuest laisser les dieux exprimer leurs pouvoirs a travers vous</p>
      <button>Découvir</button>
    </div>
  </div>

  <div class="cards_univer">
    <div>
      <h2>L'appel de Chtullu</h2>
      <p>L'Appel de Cthulhu est un jeu de rôle de la nouvelle du même nom écrite par l'écrivain fantastique américain H. P. Lovecraft. </p>
      <button>Découvir</button>
    </div>
    <div>
      <p>#mettre une image de l'univers</p>
    </div>
  </div>
</div>
