// Define the base button styles
.button-base {
  background: #00000069;
  color: white;
  letter-spacing: 1px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-style: none;
  font-weight: 400;
  font-size: 19px !important;
  cursor: pointer;
  font-family: "Cinzel", serif;
  margin: 10px;
  transition-duration: 0.5s;

  border-radius: 5px;

  &:hover {
    background-color: #14141494;
  }
}

// Define specific styles for each button type
.button-call-of-cthulhu {
  @extend .button-base;
  border: 2px solid #cf0909;
  box-shadow: 4px 5px 10px -6px #cf090983;
  &:hover {
    color: #d3b4b4;
  }
}

.button-donjons-et-dragons {
  @extend .button-base;
  border: 2px solid;
  border-color: #edd86459;
  box-shadow: 4px 5px 10px -6px #edd86459;

  &:hover {
    color: rgb(247, 231, 87);
  }
}

.button-runequest {
  @extend .button-base;
  border:  2px solid ;
  border-color:#7a84bbcc;
  box-shadow: 4px 5px 10px -6px #7a84bb7a;

  &:hover {
    color: #a8aab4;
  }
}

// Specific button with different styles
.button-destin {
  margin-left: 250px;
  margin-right: 250px;
  background: #6b6b6b;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  border-style: none;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
  border: 4px double #ffde238f;
  font-family: $headers-font;  // Utilisation de la variable pour la police des titres
  transition-duration: 0.5s;
  box-shadow: 10px 9px 5px -5px rgba(255, 255, 255, 0.377);
  border-radius: 18px;

  &:hover {
    background-color: #252525;
  }
}

// <!-- HTML !-->
// <button class="button-85" role="button">Button 85</button>

/* CSS */
